# HubSpot
HUBSPOT_TOKEN=pat-na1-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Meta Ads
META_TOKEN=your_meta_access_token_here
META_ACCOUNT_ID=your_meta_ad_account_id

# Google Ads OAuth2
GADS_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GADS_CLIENT_SECRET=GOCSPX-your_client_secret
GADS_REFRESH_TOKEN=1//your_refresh_token
GADS_DEVELOPER_TOKEN=your_developer_token
GADS_CUSTOMER_ID=your_customer_id
GADS_LOGIN_CUSTOMER_ID=your_mcc_login_customer_id
